.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    font-family: 'Roboto';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}